.dashboard {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.body, .dashboard {
  width: 800px;
}

.tweetInput {
  width: 700px;
  height: 140px;
  background: none;
  font-size: 22px;
  padding: 10px;
  color: #ffffff;
  border: none;
  position: relative;
  resize: none;
}

.tweetInput:focus {
  outline: none;
}

.writeTweet {
  display: flex;
  position: relative;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 10px;
}

.sendButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #2b92ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 19px;
  height: 37px;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}