p.likes {
  cursor: pointer;
}

.lineTweet {
  width: 100%;
  margin-top: 10px;
  height: 3px;
  position: absolute;
  bottom: -35px;
}

.tweetFeed {
  position: relative;
  margin-bottom: 50px;
}

.tweetContent {
  border-style: solid;
  border-color: rgb(180, 180, 180);
  border-width: 1px;
  border-radius: 6px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.tweetFooter {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 10px;
  bottom: -42px;
}

.replyLink {
  margin-left: 40px;
}