.login {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grey {
  color: #b1b0b0;
}