html, #body {
  height: 100%;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;

  /* position absolute posiciona el elemento rompiendo con el flujo normal de los elementos en relacion al contenedor posicionado mas cercano. un contenedor posicionado es aquel que tiene un position: distinto a static, que es lo por defecto. como no hay ninguno, lo situa con el elemento html

  top: 0 indica que el elemento se situa arriba del todo del contenedor posicionado */
  position: absolute;
  top: 0;
}

.body {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 15px;
  position: relative;
}

.classicButton {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  margin: 2px;
  cursor: pointer;
  height: 45px;
  width: 100%;
}

.classicButton#next {
  margin-bottom: 16px;
}

.classicButton#blue {
  background-color: #2b92ff;
  color: rgb(255, 255, 255);
}

.classicButton#black {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-color: #ffffff;
  border-style: solid;
  border-width: 0.2px;
  margin-bottom: 16px;
}

.classicInput {
  margin: 15px;
  padding: 5px;
  width: 100%;
  height: 45px;
  background: none;
  border-style: solid;
  border-width: .5px;
  border-radius: 4px;
  font-size: 17px;
  color: white;
}

.link {
  color: #2b92ff;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.twitterLogo {
  width: 60px;
  margin-top: 15px;
}

h1, h2 {
  font-family: Helvetica;
}

h2 {
  font-size: 30px;
}