html, #body {
  height: 100%;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;

  /* position absolute posiciona el elemento rompiendo con el flujo normal de los elementos en relacion al contenedor posicionado mas cercano. un contenedor posicionado es aquel que tiene un position: distinto a static, que es lo por defecto. como no hay ninguno, lo situa con el elemento html

  top: 0 indica que el elemento se situa arriba del todo del contenedor posicionado */
  position: absolute;
  top: 0;
}

.body {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 15px;
}

.classicButton {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  margin: 2px;
  cursor: pointer;
  height: 45px;
  width: 100%;
}

.classicInput {
  width: 100%;
  height: 45px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  font-size: 17px;
  margin: 2px;
}

.link {
  color: #2b92ff;
  text-decoration: none;
}

.twitterLogo {
  width: 60px;
  margin-top: 15px;
}